<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
    </head>
    <body>
        <%- include("partials/header") %>
        <p>
            Pizdec
        </p>
    </body>
</html>
