form {
    padding-left: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: brown;
}

table, th, td {
  border: 1px solid;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
